<% include ../partials/header.ejs %>

<h1>Pessoas</h1>

<p><a href="/pessoas/create">Nova Pessoa</a></p>

<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>#</th>
        <th>Id</th>
        <th>Nome</th>
        <th>Cargo</th>
        <th>Nascimento</th>
        <th>Ações</th>
    </tr>
    <% pessoas.map( (pessoa, index) => { %>
        <tr>
            <td><%= index %></td>    
            <td><%= pessoa.id %></td>    
            <td><%= pessoa.nome %></td>    
            <td><%= pessoa.cargo %></td>    
            <td><%= pessoa.nascimento %></td>    
            <td>
                <div class="btn-group" role="group">
                    <a 
                        type="button"
                        href="/pessoas/edit/<%= pessoa.id %>" 
                        class="btn btn-default"
                    >Editar</a>
                    <a 
                        type="button"
                        href="/pessoas/delete/<%= pessoa.id %>" 
                        class="btn btn-default"
                        onClick="return confirm('Deseja realmente excluir o registro <%= pessoa.id %>-<%= pessoa.nome %>?')"
                    >Deletar</a>
                </div>                
            </td>    
        </tr>    
    <% }) %>
</table>

<% include ../partials/footer.ejs %>